@import "colors/one-dark.css";

* {
    border: none;
    border-radius: 0px;
    
    /* Ensure these fonts are installed on your Arch system */
    font-family: "Adwaita Sans", "0xProto Nerd Font", "sans-serif";
    font-size: 13px;
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 45px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @blue; /* Fixed typo here */
    color: @bg0;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
}

/* Individual Module Styling */
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: @bg0;
    padding: 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
}

/* Specific Colors for Modules */
#clock {
    color: @blue;
}

#custom-notification {
    color: @fg;
    margin: 0 12px 0 12px;
}

#pulseaudio {
    color: @yellow;
}

#network {
    color: @purple;
}

#battery {
    color: @green;
}

/* Optional: Add a right margin to the last module so it's not touching the screen edge */
#clock {
    margin-right: 12px;
}